<h2>Tasty Burgers</h2>
<ul>
   {{#each burgers}}
   {{#unless devoured}}
   <li>
      <p>ID: {{this.id}}</p>
      <p>Name: {{this.burger_name}}</p>
      <p>Devoured: {{this.devoured}}</p>
      <button class="devour-btn" data-id="{{this.id}}">Devour burg</button>
   </li>
   {{/unless}}
   {{/each}}
</ul>

<h2>Eaten Burgers</h2>
<ul>
   {{#each burgers}}
   {{#if devoured}}
   <li>
      <p>ID: {{this.id}}</p>
      <p>Name: {{this.burger_name}}</p>
      <p>Devoured: {{this.devoured}}</p>
   </li>
   {{/if}}
   {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="add-burger">
   <div class="form-group">
      <label for="burg-name-input">Burger Name:</label>
      <input type="text" id="burg-name-input" name="name">
   </div>
   <button type="button" id="submit-burger">Add burger</button>
</form>

<script>
   $(document).ready(function () {

      $('#submit-burger').on('click', function (e) {
         e.preventDefault();

         var newBurg = {
            name: $('#burg-name-input').val().trim()
         }

         // $.post("/api/burgers", { data: newBurg }, function (result) {
         //    console.log('created new burger');
         //    location.reload();
         // });

         $.ajax("/api/burgers", {
            type: "POST",
            data: newBurg
         }).then(
            function () {
               console.log("created new burg");
               // Reload the page to get the updated list
               location.reload();
            }
         );

      });

      $('.devour-btn').on('click', function (e) {
         e.preventDefault();
         var id = $(this).attr('data-id');
         var newBurgState = {
            devoured: true
         };

         $.ajax("/api/burgers/" + id, {
            type: "PUT",
            body: newBurgState
         }).then(
            function () {
               console.log("created new burg");
               // Reload the page to get the updated list
               location.reload();
            }
         );
         // $.put(`api/burgers/${id}`, { data: newBurgState }, function (result) {
         //    console.log("burger was eaten");
         //    location.reload();
         // })
      })

   });
</script>